.to-do-list {
	width: 420px;
	height: 540px;
	padding: 30px;
	background-color: #252E42;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 40px;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
	}

	&__title {
		margin: 0;
		font-size: 28px;
	}
}