.button {
	width: 54px;
	height: 27px;
	font-size: 14px;
	line-height: 14px;
	color: #FFFFFF;
	background-color: #FF8469;
	border: none;
	border-radius: 7px;
	cursor: pointer;

	&:hover {
		background-color: #D95133;
	}
}
